@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu3,
#cssmenu3 ul,
#cssmenu3 ul li,
#cssmenu3 ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu3:after,
#cssmenu3 > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu3 {
  width: 100%;
  border-bottom: 3px solid #64001C;
  font-family: inherit;
  line-height: 1;
}
#cssmenu3 ul {
  background: #ffffff;
}
#cssmenu3 > ul > li {
  float: left;
}
#cssmenu3.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu3.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu3.align-right > ul > li {
  float: right;
}
#cssmenu3.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu3 > ul > li > a
{
    z-index: 2;
    padding: 0px 20px 1.5px 20px;
    font-size: small;
    font-weight: 400;
    text-decoration: none;
    color: #444444;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    margin-right: -4px;
}
#cssmenu3 > ul > li.active > a,
#cssmenu3 > ul > li:hover > a,
#cssmenu3 > ul > li > a:hover {
  color: #ffffff;
  font-weight: bold;
  
  }
#cssmenu3 > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 23px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu3 > ul > li.active > a:after,
#cssmenu3 > ul > li:hover > a:after,
#cssmenu3 > ul > li > a:hover:after {
  background: #64001C; /* Fallback */
    background: url(../Styles/images/noise.png), -moz-radial-gradient(center, ellipse cover, #BD1558 0%, #b53467 100%);
    background: url(../Styles/images/noise.png), -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#BD1558), color-stop(100%,#b53467));
    background: url(../Styles/images/noise.png), -webkit-radial-gradient(center, ellipse cover, #BD1558 0%,#b53467 100%);
    background: url(../Styles/images/noise.png), -o-radial-gradient(center, ellipse cover, #BD1558 0%,#b53467 100%);
    background: url(../Styles/images/noise.png), -ms-radial-gradient(center, ellipse cover, #BD1558 0%,#b53467 100%);
    background: url(../Styles/images/noise.png), radial-gradient(ellipse at center, #BD1558 0%,#b53467 100%);
}
