@import url('font-awesome.css');
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);


/*-----------------------------------------------------------------------------------------
                                       Default   
-----------------------------------------------------------------------------------------*/

body {
    background: #f0f0f0;
    font-size: 13px;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

a, a:link, a:visited { color: #64001C; text-decoration: none; }
a:hover { color: #dc003c;}
a:active { color: #dc003c;}
a.custom-button { color: #64001C; text-decoration: none; }
a.custom-button:hover { color: green; font-weight:bold; text-decoration: none; }
a:active { color: #00a1d2; }
td, tr { padding: 3px; }
input { margin-bottom: 8px; }

/* Heading  
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 { color: #000; font-weight: bold; }
h1 { font-size: 24px; line-height: 26px; }
h2 { font-size: 22px; line-height: 24px; }
h3 { font-size: 20px; line-height: 22px; }
h4 { color: #F8A617; font-size: 18px; line-height: 20px; }
h5 { font-size: 16px; line-height: 20px; font-weight: normal; }
h6 { font-size: 14px; line-height: 18px; font-weight: normal; }

/*-----------------------------------------------------------------------------------------
                                       Primary Layout Element   
-----------------------------------------------------------------------------------------*/
.watermarked {
    height: 20px;
    width: 150px;
    padding: 2px 0 0 2px;
    border: 1px solid #BEBEBE;
    background-color: #F0F8FF;
    color: gray;
}
.page {
    width: 97%;
    padding: 10px;
    margin: 0px auto;
    background-color: #fff;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.header {
    position: relative;
    margin: 0px;
    display: block;
    padding: 0px;
}

.header-title {
    position: relative;
    top: 13px;
    text-align:center;
    font-size: 30px;
    font-weight: 700;
}

.main {
    padding: 0px 0px;
    margin: 4px 11px 18px 8px;
}

.footer {
    color: #000;
    padding: 2px 0px 2px 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 10px;
}

.blink { text-decoration:blink }

/*-----------------------------------------------------------------------------------------
                                       Navigation Menu   
-----------------------------------------------------------------------------------------*/

.menu-bg {
    width: 100%;
    height: 35px;
    
    /* Styles */
    border: none; /* Remove the default border */
    border-radius: 5px;
    background: #64001C; /* Fallback */
    background: url(../Styles/images/noise.png), -moz-radial-gradient(center, ellipse cover, #BD1558 0%, #b53467 100%);
    background: url(../Styles/images/noise.png), -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#BD1558), color-stop(100%,#b53467));
    background: url(../Styles/images/noise.png), -webkit-radial-gradient(center, ellipse cover, #BD1558 0%,#b53467 100%);
    background: url(../Styles/images/noise.png), -o-radial-gradient(center, ellipse cover, #BD1558 0%,#b53467 100%);
    background: url(../Styles/images/noise.png), -ms-radial-gradient(center, ellipse cover, #BD1558 0%,#b53467 100%);
    background: url(../Styles/images/noise.png), radial-gradient(ellipse at center, #BD1558 0%,#b53467 100%);
    box-shadow: 
        inset 0 1px 0 rgba(255,255,255,0.3),
        2px 3px 4px rgba(0,0,0,0.35),
        inset 0 3px 2px rgba(255,255,255,0.2),
        inset 0 -3px 2px rgba(0,0,0,0.1);
        
    cursor: pointer;
}

#menu > ul {
    margin: 0 auto;
    padding: 4px 0px 0px 8px;
}

#menu > ul > li { /* will style only the top level li */
    list-style: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    color: #fff;
}

#menu > ul > li:hover {
    color: #5C001F;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#menu > ul > li > a {
    color: inherit;
    text-decoration: none !important;
    font-size: 20px;
    padding: 4px 20px;
}

#menu li ul {
    position: absolute;
    list-style: none;
    text-align: left;
    width: 201px;
    left: 50%;
    margin-left: -130px;
    top: 20px;
    font: bold 12px 'Open Sans Condensed' , sans-serif; /* This is important for the show/hide CSS animation */
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 0.4s linear;
    -moz-transition: max-height 0.4s linear;
    transition: max-height 0.4s linear;
	z-index: 10;
}

#menu li ul li   {
    background-color: #313131;
}

#menu li ul li a {
    padding: 12px;
    color: #fff !important;
    text-decoration: none !important;
    display: block;
}

#menu li ul li:nth-child(odd) { /* zebra stripes */
    background-color: #363636;
}

#menu li ul li:hover  {
    background-color: #444;
}

#menu li ul li:first-child {
    border-radius: 3px 3px 0 0;
    margin-top: 25px;
    position: relative;
}

#menu li ul li:first-child:before { /* the pointer tip */
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;
    border-bottom-color: #313131;
    left: 50%;
    top: -10px;
    margin-left: -5px;
}

#menu li ul li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
	z-index: 99999;
}

/* This will trigger the CSS */
/* transition animation on hover */

#menu li:hover ul {
    max-height: 300px; /* Increase when adding more dropdown items */
}

.navbar #nav > .active > a {
    color: #64001C !important;
    font-weight:bold;
}

/* Style
----------------------------------------------------------*/

.home {  border-right: 1px solid #fff; box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7); }
.profile { border-left: 2px solid #fff; padding-right: 10px; }
.textMenu { font-size: 70%; font-weight:bold; }
.icon-sub-menu { font-size: 20px; border-right: solid 1px #FFFFFF; padding-right: 10px; margin-right: 10px;}

.Search {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    
    /* Size and position */
    padding: 4px 20px;
    width: 50%;
    
    /* Styles */
    border: none; /* Remove the default border */
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 20px;
    background: #f9f9f9;
    color: #777;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

/*-----------------------------------------------------------------------------------------
                                         ADMIN   
-----------------------------------------------------------------------------------------*/

.admin-header{
    text-align:center;
    color:#64001c;
    margin:5px 0px 5px 0px;
}

.admin-dshbd
{
    position:relative;
    padding:1% 5% 1% 5%;
    margin:10px;
    margin-bottom:0px;
}

.admin-icon-block{
    display: block;
    min-height:145px;
}
.admin-icon{
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0px;
    padding:2px;
}

.admin-icon:hover{
    border: 2px solid #F8A617;
    padding:0px;
    border-radius: 15px;
}

.admin-label{
    margin-top:0px;
    margin-bottom:0px;
    color:#64001c;
    text-align:center;
    font-weight:bold;
    font-size:12px;
    min-height:35px;
}

.adstat-panel{
    border-radius: 12px;
    min-height: 140px;
    width:auto;
    margin-bottom:5px;
    padding:4px;
}

.adpanel-body{
    min-height:110px;
    padding-right:10px;
}

.adpanel-image{
    float:left;
    margin-left:5px;
    height:97px;
}

.adpanel-count{
    text-align:right;
    font-size: 47px;
    color:White;
    margin-bottom:-10px;
}

.adpanel-foot{
    border-radius:12px;
    background-color:white;
    min-height:40px;
    padding:5%;
}

/*-----------------------------------------------------------------------------------------
                                     STATUS TABLE  
-----------------------------------------------------------------------------------------*/

.statab-header{
    background-color:#64001C;
    color:White;
    border:1px solid white;
    text-align:center;
    font-size:12px;
}

.statab-waiting{
    background-color:Yellow;
    color:orange;
    border:1px solid white;
    border-radius:12px;
    text-align:center;
}

.statab-approve{
    background-color:Green;
    color:white;
    border:1px solid white;
    border-radius:12px;
    text-align:center;
}

.statab-decline{
    background-color:Red;
    color:White;
    border:1px solid white;
    border-radius:12px;
    text-align:center;
}

/*-----------------------------------------------------------------------------------------
                                         MISC   
-----------------------------------------------------------------------------------------*/

.failureNotification {
    font-size: 12px;
    color: Red;
}

.btnSubmit {
    width: 100px;
    margin-right: 3px;
}

.labeldebt {
    margin-left: -5px;
    text-decoration: blink; 
}

.caps { text-transform: uppercase; }

.report {
    z-index: 0;
}

/* Align  
----------------------------------------------------------*/

.left { float: left; height: 50px;}
.right { text-align: right; float: right; height: 50px;}
.center { text-align: center; }

/* Table  
----------------------------------------------------------*/

.table { width: 100%; }
.columnOdd { width: 12%; }
.columnEven { width: 38%; }

/* Divider  
----------------------------------------------------------*/

.divide-s { background-color:#64001C;  height: 5px; padding: 0px; margin: 0px -10px 3px 0px; }

.divide-xs { background-color:#64001C;  height: 3px; padding: 0px; margin: 0px -13px 3px -7px; width: 123%; }

/* Clear  
----------------------------------------------------------*/

.clear { clear: both; }
.h10 { height: 5px; }
.h20 { height: 30px; }
.h40 { height: 40px; }
.h50 { height: 50px; }

/* Style
----------------------------------------------------------*/

.top-logo { margin-top: 5px; margin-left: 15px; height: 25px;}

.branding { display:inline; color: #64001C;}

.filler{ min-height: 20px; }

.statfiller{ min-height: 5px; }

.xsfiller{ min-height: 2px; }

.img-row{ width; 165px !important; } 

.img-profile{
    margin-left: 25px;
    margin-right: 5px;
    margin-top: 9px;
    height: 150px;
    width: 115px;
    padding:5px;
    border:1px solid #dcdcdc;
    background-color:#ffffff;
    float: right; 
}

.name-row{ max-height: 15%; margin: 5px;}

.name-bgcolor {
    background-color: #FDFFE8;
    min-height: 150px;
}

.grid-row {
    min-height: 150px; 
    margin-left: 18px;
    margin-right: 18px;
}

.cnt-sum {
    display: block;
    height:100%;
    text-align: center; 
    margin-top: -1px;
    margin-bottom: -5px;
}

.cnt-sum-2 {
    display: block;
    height:30px;
    text-align: center; 
    margin-top: -1px;
    margin-bottom: 5px;
}

.dislay-sum {
    display: block;
    border-style: dotted;
}

.display-info {
    display:block;
    margin-top: 2%;
    padding-bottom: 1%;
    text-align:center;
    border-bottom-width:thin;
    border-bottom-style:dotted;
}

.res-row{
    padding: 0px 30px 0px 10px;
}

.stat-row{
    min-height: 60px;
    background-color: #FDFFE8;
}

.stat-lbl {
    margin-top: 3px;
}

.side-title{ margin: 0px; }

.side-icon{
    width: 45px; 
    height: 45px;
    margin-left: 40%;
    margin-right: 25%; 
    margin-top: -5px;
    margin-bottom: 20%; 
}

.tab-icon{ height: 20px; width: 20px; }

.search-staff{ width: 100%; }

/* Bootstrap's Style
----------------------------------------------------------*/

.btn-contact {
  background-color: hsl(0, 86%, 20%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f25d5d", endColorstr="#5e0707");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f25d5d), to(#5e0707));
  background-image: -moz-linear-gradient(top, #f25d5d, #5e0707);
  background-image: -ms-linear-gradient(top, #f25d5d, #5e0707);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f25d5d), color-stop(100%, #5e0707));
  background-image: -webkit-linear-gradient(top, #f25d5d, #5e0707);
  background-image: -o-linear-gradient(top, #f25d5d, #5e0707);
  background-image: linear-gradient(#f25d5d, #5e0707);
  border-color: #5e0707 #5e0707 hsl(0, 86%, 8.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  -webkit-font-smoothing: antialiased;
}

.spadding {
   padding-left: 11px !important;
   padding-right: 11px !important;
   padding-bottom: 1px !important;
}

.spadding-info {
   padding-left: 8px !important;
   padding-right: 8px !important;
   margin: 0px !important;
}

.row-no-spacing
{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 1px !important; 
}

.alert {
    padding: 5px 0px 5px 10px;
}

.panel-default > .panel-heading {
  color: #fff;
  background: #64001C !important;
  border-color: #ddd;
}
/*-----------------------------------------------------------------------------------------
                                       Popup Box   
-----------------------------------------------------------------------------------------*/

.popup-box-title { font-size: 20px; line-height: 24px; color: #F8A617; text-align:center; font-weight:bold; }

.popup-box-cointainer {
	display:none;
	width: 40%;
	background: #333;
	padding: 8px; 	
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 40%; left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999;
	-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

#popup-box-mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}
img.btn_close {
	float: right; 
	margin: -28px -28px 0 0;
}
.popup-box-wrapper {
    position: relative; /* For the icon positioning */
    margin: 5px;
}
.popup-box-wrapper i {
    /* Size and position */
    left: 0px;
    top: 0px;
    position: absolute;
    height: 36px;
    width: 36px;

    /* Line */
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);

    /* Styles */
    color: #777777;
    text-align: center;
    line-height: 42px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    pointer-events: none;
}
.popup-box-wrapper input[type=text],
.popup-box-wrapper input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    
    /* Size and position */
    width: 90%;
    height: 100%;
    margin-top: -1px;
    padding: 10px 0px 10px 48px;

    /* Styles */
    border: none; /* Remove the default border */
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #f9f9f9;
    color: #777;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}
.popup-box-wrapper input[type=text]:hover ~ i,
.popup-box-wrapper input[type=password]:hover ~ i {
    color: #52cfeb;
}
.popup-box-wrapper input[type=text]:focus ~ i,
.popup-box-wrapper input[type=password]:focus ~ i {
    color: #42A2BC;
}
.popup-box-wrapper input[type=text]:focus,
.popup-box-wrapper input[type=password]:focus,
.popup-box-wrapper button[type=submit]:focus {
    outline: none;
}
.popup-box-button { 
    /* Size and position */
    width: 100%;
    height: 100%;
    margin-top: 5px;

    /* Icon styles */
    font-size: 1.4em;
    line-height: 1.75;
    color: white;
    font-weight:bold;

    /* Styles */
    border: none; /* Remove the default border */
    border-radius: 5px;
    background: #BD1558; /* Fallback */
    background: url(/Style/images/noise.png), -moz-radial-gradient(center, ellipse cover, #BD1558 0%, #5C001F 100%);
    background: url(/Style/images/noise.png), -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#BD1558), color-stop(100%,#5C001F));
    background: url(/Style/images/noise.png), -webkit-radial-gradient(center, ellipse cover, #BD1558 0%,#5C001F 100%);
    background: url(/Style/images/noise.png), -o-radial-gradient(center, ellipse cover, #BD1558 0%,#5C001F 100%);
    background: url(/Style/images/noise.png), -ms-radial-gradient(center, ellipse cover, #BD1558 0%,#5C001F 100%);
    background: url(/Style/images/noise.png), radial-gradient(ellipse at center, #BD1558 0%,#5C001F 100%);
    box-shadow: 
        inset 0 1px 0 rgba(255,255,255,0.3),
        0 1px 2px rgba(0,0,0,0.35),
        inset 0 3px 2px rgba(255,255,255,0.2),
        inset 0 -3px 2px rgba(0,0,0,0.1);
        
    cursor: pointer;
}
.popup-box-button:hover { 
    background: #BD1558;
    color: #5C001F;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.popup-box-detailsView {    
    /* Icon styles */
    font-size: 13px;
    line-height: 1.75;
    color: #fff;

    /* Styles */
    border: none; /* Remove the default border */
    border-radius: 10px;
    background: #BD1558; /* Fallback */
    background: url(/Style/images/noise.png), -moz-radial-gradient(center, ellipse cover, #BD1558 0%, #5C001F 100%);
    background: url(/Style/images/noise.png), -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#BD1558), color-stop(100%,#5C001F));
    background: url(/Style/images/noise.png), -webkit-radial-gradient(center, ellipse cover, #BD1558 0%,#5C001F 100%);
    background: url(/Style/images/noise.png), -o-radial-gradient(center, ellipse cover, #BD1558 0%,#5C001F 100%);
    background: url(/Style/images/noise.png), -ms-radial-gradient(center, ellipse cover, #BD1558 0%,#5C001F 100%);
    background: url(/Style/images/noise.png), radial-gradient(ellipse at center, #BD1558 0%,#5C001F 100%);
    box-shadow: 
        inset 0 1px 0 rgba(255,255,255,0.3),
        0 1px 2px rgba(0,0,0,0.35),
        inset 0 3px 2px rgba(255,255,255,0.2),
        inset 0 -3px 2px rgba(0,0,0,0.1);
        
    cursor: pointer;
}

@media screen and (max-width:980px){
    #txtSearch {
        display: none;
    }
}

